<label for="sala" class="mr-3">
  <span>Sala:</span>
</label>
<select id="sala" name="sala" class="select select-bordered w-full md:w-1/6">
  <option value="sala1">Sala 1</option>
  <option value="sala2">Sala 2</option>
  <option value="sala3">Sala 3</option>
  <option value="sala4">Sala 4</option>
</select>

<label for="pesquisar" class="ml-10 mr-3">Pesquisar:</label>
<input id="pesquisar" name="pesquisar" type="text" class="input input-bordered w-full md:w-1/6">

<input type="button" value="Pesquisar" class="ml-5 btn">
