<div class="flex items-center justify-center">
  <span class="mr-3 ml-3">Pesquisar:</span>
  <input id="pesquisar" name="pesquisar" type="text" class="input input-bordered w-full md:w-1/6">

  <input type="button" value="Pesquisar" class="ml-5 btn">
  <div class="ml-auto">
    <input type="button" value="Adicionar" class="btn  btn-accent" (click)="this.abrirFormGestao()">
  </div>
</div>

<dialog #modal class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>

    <div role="tablist" class="tabs tabs-lifted">
      <input
        type="radio"
        name="tabs"
        role="tab"
        class="tab"
        aria-label="Evento"
        checked="checked"
      />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <form [formGroup]="formEvento" (ngSubmit)="this.cadastrarEvento()">
          <label class="form-control w-full">
            <div class="label">
              <span class="label-text">Qual a descrição do evento?</span>
            </div>
            <input type="text" required="true" formControlName="title" name="title" class="input input-bordered w-full" autofocus />
          </label>
          <label class="form-control w-full">
            <div class="label">
              <span class="label-text">Qual a data do evento?</span>
            </div>
            <input type="date" required="true" formControlName="date" name="date" class="input input-bordered w-full" autofocus />
          </label>
          <button class="btn btn-primary mt-3">Salvar</button>
        </form>
      </div>

    </div>
  </div>
</dialog>
